node_modules
.DS_Store
.vscode
assets/css/
wp/wp-admin/
wp/wp-includes/
wp/*.php
wp/*.html
wp/*.txt
wp/.htaccess
wp-config.php
wp/wp-content/advanced-cache.php
wp/wp-content/backup-db/
wp/wp-content/backups/
wp/wp-content/blogs.dir/
wp/wp-content/cache/
wp/wp-content/upgrade/
wp/wp-content/uploads/
wp/wp-content/mu-plugins/
wp/wp-content/wp-cache-config.php
wp/wp-content/languages/
wp/wp-content/ai1wm-backups/
wp/wp-content/plugins/all-in-one-wp-migration/storage/
wp/wp-content/plugins/cloudsecure-wp-security/log/
