@use "variables";

html {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
  color: var(--color-font);
  font-family: var(--font-noto-sans);

  &.fixed {
    overflow: hidden;
  }
}

main {
  overflow: hidden;
}

picture {
  display: block;
}

img {
  width: 100%;
  height: auto;
}

a,
button {
  transition: 0.2s ease;
}

.pc {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}

.sp {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
