:root {
  --font-hiragino: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Sans", "メイリオ", "Meiryo", sans-serif;
  --font-yu-gothic: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  --font-yu-mincho: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  --font-noto-sans: "Noto Sans JP", "メイリオ", Meiryo, sans-serif;
  --font-noto-serif: "Noto Serif JP", sans-serif;
  --color-base: #faecee;
  --color-main: #f293a0;
  --color-accent: #fddc18;
  --color-font: #333;
}
